@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html, body, input, button {
    font-family: "Roboto", sans-serif;

    --bg-body-color: hsl(0, 0%, 0%);
    --bg-td-odd: hsla(194, 64%, 6%, 0.5);
    --bg-td-even: hsl(191, 31%, 42%);
    --bg-btn-color: hsl(195, 91%, 25%);
    --bg-thead-color: hsl(194, 72%, 13%);
    --bg-input-color: hsl(191, 65%, 7%);

    --bd-table: hsl(191, 31%, 42%);
    
    --tt-btn-color: hsl(0, 0%, 100%);
    --tt-rmv-color: hsl(355, 91%, 66%);
    --tt-color: hsl(240, 9%, 89%);
    --tt-ph-color: hsl(240, 6%, 51%);
}

body {
    padding: 11.5rem 11.6rem;

    font-size: 1.6rem;

    background-color: var(--bg-body-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-wrapper {
    display: flex;
    gap: .8rem;
}

.search-wrapper input {
    width: 46.2rem;
    height: 4.8rem;

    padding: 1.6rem;

    background-color: var(--bg-input-color);

    border: none;
}

.search-wrapper button {
    display: flex;
    align-items: center;
    gap: .8rem;

    padding: 1.2rem 3.2rem;

    background-color: var(--bg-btn-color);

    color: var(--tt-btn-color);
    font-weight: bold;
    line-height: 2.4rem;

    border: none;
    border-radius: .5rem;
}

table {
    width: 100%;

    margin-top: 8.7rem;

    border: 1px solid var(--bd-table);
    border-collapse: collapse;

    overflow: hidden;
}

table thead {
    background-color: var(--bg-thead-color);

    color: var(--tt-color);
    text-align: left;
}

table thead * {
    padding: 1.6rem 0rem;
}

table tr:first-child th:first-child {
    border-top-left-radius: .4rem;
    padding-left: 4rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: .4rem;
    padding-right: 4rem;
}

table tr:last-child td:last-child{
    border-bottom-right-radius: .4rem;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: .4rem;
}


tr td.user {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    
    padding: 2.4rem 4rem;
}

td img {
    width: 5.6rem;
    border-radius: 50%;;
}

tr, tr a {
    color: var(--tt-color);
    text-decoration: none;
}

tr p {
    font-weight: bold;
    line-height: 160%;
    font-size: 2rem;
}

.remove {
    color: var(--tt-rmv-color);
    font-weight: bold;
    font-size: 2rem;
    line-height: 160%;

    background: none;

    border: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
