@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html, body, input, button {
    font-family: "Roboto", sans-serif;

    --bg-body-color: hsl(0, 0%, 0%);
    --bg-td-odd: hsla(194, 64%, 6%, 0.5);
    --bg-td-even: hsl(191, 31%, 42%);
    --bg-btn-color: hsl(195, 91%, 25%);
    --bg-thead-color: hsl(194, 72%, 13%);
    --bg-input-color: hsl(191, 65%, 7%);
    
    --tt-btn-color: hsl(0, 0%, 100%);
    --tt-rmv-color: hsl(355, 91%, 66%);
    --tt-color: hsl(240, 9%, 89%);
    --tt-ph-color: hsl(240, 6%, 51%);
}

body {
    font-size: 1.6rem;

    background-color: var(--bg-page-color);

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 11.2rem;
}

.search-wrapper {
    display: flex;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
